<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_alarms_top" name="Alarms" web_icon="alarm,static/description/icon.png" sequence="1"/>
        <menuitem id="menu_alarm_notifications" name="Alarm Notifications" parent="menu_alarms_top"
                  action="show_alarm_notifications_tree_action" sequence="10"/>
        <menuitem id="menu_alarms" name="Alarms" parent="menu_alarms_top"
                  action="show_alarms_tree_action" sequence="20"/>
    </data>
</odoo>
